@using PhotoPortfolio.Models
@using System.Data.Entity;
@using System.Linq;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @*<link href="~/Content/jquery.ui.base.css" rel="stylesheet" />
    <link href="~/Content/jquery.ui.core.css" rel="stylesheet" />
    <link href="~/Content/jquery.ui.theme.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/stylesheet.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/dropzonecss")
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-responsive.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    @Scripts.Render("~/bundles/Chart")
    @*@Scripts.Render("~/bundles/core")
    @Scripts.Render("~/bundles/widget")
    @Scripts.Render("~/bundles/datepicker")*@
    @Scripts.Render("~/bundles/dropzonescripts")
    @Scripts.Render("~/bundles/Stellar")


  
   
</head>
<body>
        <div class="navbar navbar-inverse navbar-fixed-top ">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>


    @if (User.Identity.IsAuthenticated)
    {
        ApplicationDbContext db = new ApplicationDbContext();


        <div class="navbar navbar-default" style="background:none">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar-collapse" style="text-align:center">
                    <ul >
                        <li class="btn btn-secondary">@Html.ActionLink("Revenue", "Index", "Revenues")</li>
                        <li class="btn btn-secondary">@Html.ActionLink("Expense", "Index", "Expenses")</li>
                        <li class="btn btn-secondary">@Html.ActionLink("RegisteredUsers", "Index", "RegisteredUsers")</li>
                        <li class="btn dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Manage Packages <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" >
                                <li class="dropdown-header">Create Categories</li>
                                <li>@Html.ActionLink("Revenue Categories", "Create", "RevenueCategories")</li>
                                <li>@Html.ActionLink("Expense Categories", "Create", "ExpenseCategories")</li>
                                <li class="divider"></li>
                                <li class="dropdown-header">My Packages</li>
                                <li><a href="#">Premium Package $3000</a></li>
                                <li><a href="#">Deluxe Package #2000</a></li>
                                <li><a href="#">Basic Package $1000</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }
    <div class="row col-md-offset-1">

            @RenderBody()
        <div class="col-sm-10 col-sm-offset-1">
            <section class="row callToActionSection" id="callOutOne">
                <div class="col-sm-6">
                    <h1>Sed vel lectus eu nulla porttitor consequat a ac ligula</h1>
                    <p>Maecenas a ex vitae elit convallis venenatis. Sed vel lectus eu nulla porttitor consequat a ac ligula. Mauris purus elit, volutpat porttitor ex id, convallis facilisis tellus. Duis a nulla sodales, molestie erat pretium, condimentum massa. Sed consectetur vel erat et volutpat. Cras lobortis dolor ac luctus gravida. Nam sem magna, cursus vitae tortor vitae, convallis suscipit velit. Mauris nec est non leo sodales suscipit. Fusce rhoncus molestie sapien, non porta sem pulvinar sed. Duis id felis facilisis, tempus enim non, vulputate augue.</p>
                    <button class="btn btn-primary btn-lg">Buy Now</button>
                </div>
            </section>
            
            <section class="row callToActionSection" id="callOutTwo">
                <div class="col-sm-6 col-sm-offset-6">
                    <h1>Sed vel lectus eu nulla porttitor consequat a ac ligula</h1>
                    <p>Maecenas a ex vitae elit convallis venenatis. Sed vel lectus eu nulla porttitor consequat a ac ligula. Mauris purus elit, volutpat porttitor ex id, convallis facilisis tellus. Duis a nulla sodales, molestie erat pretium, condimentum massa. Sed consectetur vel erat et volutpat. Cras lobortis dolor ac luctus gravida. Nam sem magna, cursus vitae tortor vitae, convallis suscipit velit. Mauris nec est non leo sodales suscipit. Fusce rhoncus molestie sapien, non porta sem pulvinar sed. Duis id felis facilisis, tempus enim non, vulputate augue.</p>
                    <button class="btn btn-primary btn-lg">Buy Now</button>
                </div>
            </section>

            <section class="row callToActionSection" id="callOutThree">
                <div class="col-sm-6" >
                    <h1>Sed vel lectus eu nulla porttitor consequat a ac ligula</h1>
                    <p>Maecenas a ex vitae elit convallis venenatis. Sed vel lectus eu nulla porttitor consequat a ac ligula. Mauris purus elit, volutpat porttitor ex id, convallis facilisis tellus. Duis a nulla sodales, molestie erat pretium, condimentum massa. Sed consectetur vel erat et volutpat. Cras lobortis dolor ac luctus gravida. Nam sem magna, cursus vitae tortor vitae, convallis suscipit velit. Mauris nec est non leo sodales suscipit. Fusce rhoncus molestie sapien, non porta sem pulvinar sed. Duis id felis facilisis, tempus enim non, vulputate augue.</p>
                    <button class="btn btn-primary btn-lg">Buy Now</button>
                </div>
            </section>
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year </p>
                <div class="social-footer">
                    <a href="https://www.facebook.com/LoveKCPhotography"><i class="fa fa-facebook"></i></a>

                </div>
            </footer>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $.stellar();
        });
    </script>


    @RenderSection("scripts", required: false)
</body>
</html>
